!!! XML
%html
  %head
    %script{:type => 'text/javascript', :src => './iphone-js-console.js'}
    :javascript
      var c = new JsConsole();
      c.start('ws://192.168.1.35:8088');
  %body
    %h1 iPhone JS Console Sample
    %input{:type => 'button', :value => 'push' ,:onClick => 'c.log(new Date())'}