!!! XML
%html
  %head
    %title iphone js console sample
    %script{:type => 'text/javascript', :src => './iphone-js-console.js'}
    :javascript
      JsConsole.start('ws://192.168.1.38:8088');
  %body
    %h1 iPhone JS Console Sample
    %input{:type => 'button', :value => 'push' ,:onClick => 'console.log(new Date())'}